{% extends "layouts/layout_app.html" %}

{% block content %}
    {{ super() }}
    <div class="container mt-2">
        <h4 class="mb-2 pb-2" style="border-bottom: #CCCCCC solid 1px;">Analyse</h4>
        <h5 class="mb-2 mt-4">Platzierung</h5>
        <div>
            <canvas id="rangliste_chart" width="100%" height="300px"></canvas>
        </div>
        <h5 class="mb-2 mt-5">Punktehistorie</h5>
        <div>
            <canvas id="punkte_chart" width="100%" height="300px"></canvas>
        </div>
        <h5 class="mb-2 mt-5">Bierliste</h5>
        <div class="d-flex justify-content-between mb-1">
            <div class="d-flex align-items-center">
                <p style="margin-bottom: 0">
                    Summe: <span id="total_sum" ></span>
                </p>
            </div>
            <div>
                <select class="custom-select-sm" name="year_selector" id="year_selector" onchange="update_chart()">
                    {% for year in years %}
                        {% if loop.index0 == 0 %}
                            <option selected>{{ year }}</option>
                        {% else %}
                            <option>{{ year }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <canvas id="loser_chart" width="100%" height="300px"></canvas>
        </div>
    </div>
{% endblock content %}

{% block scripts %}

    <script>
        let eric_img = new Image(40,40);
        let lucas_img = new Image(40,40);
        let marco_img = new Image(40,40);
        let peer_img = new Image(40,40);
        let nils_img = new Image(40,40);
        let felix_img = new Image(40,40);

        eric_img.src ='static/img/Eric.png';
        lucas_img.src ='static/img/Lucas.png';
        marco_img.src ='static/img/Marco.png';
        peer_img.src ='static/img/Peer.png';
        nils_img.src ='static/img/Nils.png';
        felix_img.src = 'static/img/default.png'

        let player_to_pic = {
            'Eric': eric_img,
            'Lucas': lucas_img,
            'Nils': nils_img,
            'Marco': marco_img,
            'Peer': peer_img,
            'Felix': felix_img
        };

        let player_to_color = {
            'Eric': '#43DCA3',
            'Lucas': '#dc9743',
            'Nils': '#dc4367',
            'Marco': '#397bf1',
            'Peer': '#a643dc',
            'Felix': '#78e233'
        };

        function update_chart(){
            let year = $("#year_selector option:selected").text();
            create_loser_chart(year)
        }
    </script>

    <script src="{{url_for('static', filename='js/rangliste_chart.js')}}"></script>
    <script src="{{url_for('static', filename='js/punkte_chart.js')}}"></script>
    <script src="{{url_for('static', filename='js/loser_chart.js')}}"></script>

{% endblock scripts %}