{% extends "layouts/layout_app.html" %}

{% block content %}
    {{ super() }}
    <div class="container mt-2">
        <div class="mb-2 pb-2 d-flex justify-content-between align-items-center" style="border-bottom: #CCCCCC solid 1px;">
            <div class="d-flex align-items-center justify-content-start">
                <h4 class="mb-0">Spielliste</h4>
                <span class="ml-3"><i id="info_button" class="fas fa-info" style="color: grey;"></i></span>
            </div>
            <a role="button" href="{{url_for("ui_forms.add_game", counter = 4)}}">
                <i class="far fa-plus-square fa-2x" style="color: #27d193ea;"></i>
            </a>
        </div>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th id="date_header">Datum</th>
                        <th id="games_header">Partien</th>
                        {% for player in players %}
                            <th id="{{player.name}}"> {{-player.name-}} </th>
                        {% endfor %}
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr id="game_entries_{{game.id}}">
                            <td class="caption" id="date_{{game.id}}" data-label="Datum" headers="date_header">{{ game.date.strftime("%d.%m.%Y") }}</td>
                            <td class="caption" id="games_{{game.id}}" data-label="Partien" haeders="games_header" style="text-align: center;">{{ game.played_matches }}</td>
                            {% for player in players %}
                                <td class="normal" id="points_{{player.name}}_{{player.id}}_game_{{game.id}}" data-label="{{player.name}}" headers="{{player.name}}">
                                    <div class="trophy-point">
                                        {% if game.id in player_results and player.name in player_results[game.id] %}
                                            <span class="trophy">

                                            </span>
                                            <span class="point_value">
                                                {{-player_results[game.id][player.name]-}}
                                            </span>
                                        {% else %}
                                            <span class="no_points">
                                                -
                                            </span>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endfor %}
                            <td class="button">
                                <a role="button" href="{{url_for('ui_forms.update_game', game_id=game.id)}}">
                                    <i class="far fa-edit" style="color: #27d192;"></i>
                                </a>
                            </td>
                            <td class="button">
                                <a role="button" class="delete-button">
                                    <i class="far fa-trash-alt" id="{{ game.id }}" onClick="enable_delete_alert(this.id)" style="color: Tomato;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center align-items-center">
            <a role="button" class="btn btn-primary" href="{{url_for("ui_forms.add_game", counter = 4)}}">Spiel hinzufügen</a>
        </div>
    </div>
{% endblock content %}

{% block styles %}
    <style>

        th {
            text-align: center;
        }

        @media screen and (max-width: 650px) {

            .caption {
                text-align: right !important;
            }

            .point_value {
                width: 35px !important;
            }

            .trophy-point {
                display: flex;
                justify-content: flex-end !important;
            }

            table thead {
                display: none;
            }

            table tr {
                margin-bottom: 20px;
                display: block;
                border: 2px solid #CCCCCC;
                border-radius: 10px;
                text-align: center;
            }

            table td {
                display: block;
                text-align: right;
                border-bottom: none;
            }

            table td.button {
                text-align: center;
            }

            table td.caption {
                font-weight: bold;
                font-style: italic;
                font-size: 1.1rem;
            }

            table tr td:first-child {
                border-top: none !important;
            }

            table td.caption:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }

            table td.normal:before {
                content: attr(data-label);
                float: left;
                font-weight: normal;
            }
        }

    </style>
{% endblock styles %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/delete_alert.js')}}"></script>

    <script>

        var place_to_class = {
            1: 'first_place',
            2: 'second_place',
            3: 'third_place'
        }

        function enable_delete_alert(game_id){

            event.preventDefault();

            let days_for_delete = Number("{{days_for_delete}}");

            let get_game_date_url = "{{url_for('api_game.get_game_date', game_id=game_id)}}" + game_id;

            let delete_game_url = "{{url_for('api_game.delete_game', game_id=game_id)}}" + game_id;

            show_delete_alert(get_game_date_url, delete_game_url, days_for_delete)

        }

        function sort_object(obj) {
            let items = Object.keys(obj).map(function(key) {
                return [key, obj[key]];
            });
            items.sort(function(first, second) {
                return second[1] - first[1];
            });
            let sorted_obj={}
            $.each(items, function(k, v) {
                let use_key = v[0];
                sorted_obj[use_key] = v[1]
            })
            return (sorted_obj)
        }

        function insert_trophies() {
            // loop through all table rows
            $('.table tbody tr').each(function(){
                // create dictionary
                let td_id_to_points = {}
                // loop through all table data entries
                $(this.children).each(function() {
                    // check for table data points
                    if ($(this).hasClass('normal')){
                        // save id of td for later access
                        id_td = this.id
                        // td contains a div and in this div, the point values
                        // are written, loop over these spans
                        $($(this.children[0]).children()).each(function() {
                            if ($(this).hasClass('point_value')){
                                // check if player has points
                                if (this.innerText !== "-"){
                                    // write value in dic
                                    td_id_to_points[id_td] = Number(this.innerText)
                                }
                            }
                        });
                    }
                });
                // sort point values
                let td_id_to_points_sorted = sort_object(td_id_to_points);
                let keys_td_id_to_points_sorted = Object.keys(td_id_to_points_sorted);
                let place = 1;
                for (let i = 0; i < keys_td_id_to_points_sorted.length; i++){
                    if (place <= 3){
                        let id = keys_td_id_to_points_sorted[i]
                        // prepend trophy to td with id of key
                        $('#' + id + ' div :first-child').append("<i class='fas fa-trophy fa-xs'></i>").addClass(place_to_class[place]);
                        // check if next player has equal points
                        if (td_id_to_points_sorted[id] === td_id_to_points_sorted[keys_td_id_to_points_sorted[i+1]]) {
                            // append same trophy and increase place
                            let id = keys_td_id_to_points_sorted[i+1];
                            $('#' + id + ' div :first-child').append("<i class='fas fa-trophy fa-xs'></i>").addClass(place_to_class[place]);
                            place ++;
                        }
                    } else {
                        break;
                    }
                    place ++;
                }
            });

        };

        $(document).ready(function() {
            // show the alert
            setTimeout(function() {
                $(".alert").alert('close');
            }, 2000);

            // show info alert for table
            $('#info_button').click(function() {
                swal({
                    text: "Eine Tabelle wird angezeigt, wenn du dein Gerät im Querformat hältst.",
                    icon: "info"
                });
            });

            insert_trophies();
        });
    </script>
{% endblock scripts %}