{% extends "layouts/layout_app.html" %}

{% block content %}
    {{ super() }}
    <div class="container mt-2">
        <h4 class="mb-2 pb-2" style="border-bottom: #CCCCCC solid 1px;">Spiel hinzufügen</h6>
        <form class="mb-4 mt-4" id="add_game_form" method="POST" action="{{url_for("api_game.save_game")}}" data-toggle="validator" role="form">
            <div class="form-group row">
                <div class="form-group col-8">
                    <label for="date" class="col-form-label">Datum</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="form-group col-4">
                    <label for="games" class="col-form-label">Partien</label>
                    <input type="number" class="form-control" id="games" name="games" required>
                </div>
            </div>
            <h6 class="mb-4 pb-2" style="border-bottom: #CCCCCC solid 1px;">Punkte</h6>
            {% for i in range(1, counter + 1)  %}
                <div class="form-group row">
                    <div class="form-group col-8">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="id_player_{{i}}">Spieler {{i}}</label>
                            <select class="custom-select" id="id_player_{{i}}" name="id_player_{{i}}" required>
                                <option value="">Wähle...</option>
                                {% for player in players %}
                                    <option value="{{player.id}}">{{player.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <input type="number" class="form-control points" id="points_player_{{i}}" name="points_player_{{i}}" required>
                    </div>
                </div>
            {% endfor %}
            <div class="mb-4 d-flex align-items-center">
                <a role="button" onclick="add_player()">
                    <i class="far fa-plus-square fa-lg" style="color: #27d193ea;"></i>
                </a>
                <span class="ml-2">Spieler hinzufügen</span>
            </div>
            <div class="form-group row justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary" onclick="check_entries()">Speichern</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/checks.js')}}"></script>
    <script>
        function add_player(){
            counter_player = $('select').length + 1;
            window.location.href = "{{url_for('ui_forms.add_game', counter = counter_player)}}" + counter_player
        }

        function check_entries(){
            if(!(check_form())){
                event.preventDefault()
                correct_points = check_points()
                correct_players = check_player_names()
                if (correct_points & correct_players){
                    $('#add_game_form').submit()
                }
            }
        }
    </script>
{% endblock scripts %}