<table class="table" style="color: #cccccc;">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Gespielte Partien</th>
            <th>Eric</th>
            <th>Lucas</th>
            <th>Marco</th>
            <th>Nils</th>
            <th>Peer</th>
        </tr>
    </thead>
    <tbody style="color: #cccccc;">
        <tr style="color: #cccccc;">
            <td style="color: #cccccc;">14.05.2020</td>
            <td style="color: #cccccc;">20</td>
            <td style="color: #cccccc;">3</td>
            <td style="color: #cccccc;">1</td>
            <td style="color: #cccccc;">-</td>
            <td style="color: #cccccc;">-19</td>
            <td style="color: #cccccc;">15</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>2️⃣</td>
            <td>3️⃣</td>
            <td></td>
            <td>4️⃣</td>
            <td>1️⃣</td>
        </tr>
        <tr style="color: #cccccc;">
            <td style="color: #cccccc;">29.05.2020</td>
            <td style="color: #cccccc;">21</td>
            <td style="color: #cccccc;">11</td>
            <td style="color: #cccccc;">-5</td>
            <td style="color: #cccccc;">-11</td>
            <td style="color: #cccccc;">5</td>
            <td style="color: #cccccc;">-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>1️⃣</td>
            <td>3️⃣</td>
            <td>4️⃣</td>
            <td>2️⃣</td>
            <td></td>
        </tr>
        <tr>
            <td style="color: #cccccc;">10.10.2020</td>
            <td style="color: #cccccc;">29</td>
            <td style="color: #cccccc;">-16</td>
            <td style="color: #cccccc;">-</td>
            <td style="color: #cccccc;">30</td>
            <td style="color: #cccccc;">22</td>
            <td style="color: #cccccc;">-36</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>3️⃣</td>
            <td></td>
            <td>1️⃣</td>
            <td>2️⃣</td>
            <td>4️⃣</td>
        </tr>
        <tr>
            <td style="color: #cccccc;">15.10.2020</td>
            <td style="color: #cccccc;">25</td>
            <td style="color: #cccccc;">-68</td>
            <td style="color: #cccccc;">-</td>
            <td style="color: #cccccc;">0</td>
            <td style="color: #cccccc;">44</td>
            <td style="color: #cccccc;">24</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>4️⃣</td>
            <td></td>
            <td>3️⃣</td>
            <td>1️⃣</td>
            <td>2️⃣</td>
        </tr>
    </tbody>
</table>